.title {
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  font-size: 2.5em;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5px;
}

::ng-deep img {
  display: block;
  margin: 1.5em auto;
  max-width: 100%;
}
