<h1 class="text-cyan-400">Latest Posts</h1>

<app-post-box *ngFor="let post of posts"
              [post]="post"></app-post-box>

<span *ngIf="posts && hasMorePosts"
      class="inline-flex rounded-md shadow-sm">
    <button type="button"
            (click)="loadMore()"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-slate-100 bg-cyan-600 hover:bg-cyan-200 focus:outline-none focus:border-cyan-500 focus:ring-cyan active:bg-cyan-500 transition ease-in-out duration-150">
        Load More
    </button>
</span>
