<h1 class="mb-4 text-center uppercase text-indigo-600">Chris Perko</h1>
<p class="text-sm text-slate-400 text-center">
  Decatur, Georgia | 828.776.9320 | chris@chrisperko.net | https://perko.dev | github.com/BaronVonPerko
</p>

<app-resume-section-heading>Professional Summary</app-resume-section-heading>
<p>
  Lead software engineer with 13 years experience building full-stack applications. Technical knowledge in
  C#, PHP, Angular, JavaScript, and AWS. Past experience includes mobile development utilizing Ionic with
  Angular, as well as team leadership in the healthcare and telecommunications industries.
</p>

<app-resume-section-heading>Professional Experience</app-resume-section-heading>

<app-resume-experience
  startDate="March 2019"
  endDate="Present"
  position="Lead Software Engineer"
  company="Emory University"
  location="Atlanta, Georgia"
>
  <app-resume-list>
    <app-resume-list-item>
      Lead a team of developers and QA engineers to create high-quality and mission critical software
      for the Georgia Memory Net project.
    </app-resume-list-item>
    <app-resume-list-item>
      Created documentation, mockups, and architecture diagrams to clearly and effectively
      communicate to stakeholders as well as the technical team.
    </app-resume-list-item>
    <app-resume-list-item>
      Presented at conferences such as the annual Georgia Memory Net summit conference, as well as
      town hall meetings.
    </app-resume-list-item>
    <app-resume-list-item>
      Managed a second team of mid-level developers and systems administrators within a separate
      department, and implemented an Agile approach to software development, including Scrum
      meetings and ZenHub for project tracking.
    </app-resume-list-item>
    <app-resume-list-item>
      Provided mentorship to less experienced developers to improve their software development skills.
    </app-resume-list-item>
    <app-resume-list-item>
      Implemented automated testing and continuous integration/continuous deployment for high
      quality production releases with little downtime or production bugs within Amazon Web Services.
    </app-resume-list-item>
    <app-resume-list-item>
      Worked closely with senior leadership and Emory Healthcare integrations engineers to prepare
      legacy software to integrate with Epic EMR.
    </app-resume-list-item>
  </app-resume-list>
</app-resume-experience>

<app-resume-experience
  startDate="May 2017"
  endDate="March 2019"
  position="Senior Full-Stack Engineer"
  company="Windstream Communications"
  location="Little Rock, Arkansas"
>
  <app-resume-list>
    <app-resume-list-item>
      Worked closely with the database architects to develop analytical tools for various parts of the
      company.
    </app-resume-list-item>
    <app-resume-list-item>
      Main project had visibility throughout many divisions, and was used by executives and the CEO.
    </app-resume-list-item>
    <app-resume-list-item>
      Historical metrics showed a valuable positive change across the Call Center, resulting in more
      sales, better retention, and an overall better customer experience.
    </app-resume-list-item>
    <app-resume-list-item>
      Integration with ESRI maps to provide a rich user experience for the sales and marketing teams.
    </app-resume-list-item>
    <app-resume-list-item>
      Single Page Application development utilizing Angular 1.5.x, and the Laravel Framework as a
      RESTful API. Redis was used for application caching.
    </app-resume-list-item>
    <app-resume-list-item>
      API feature and unit testing built using PHPUnit
    </app-resume-list-item>
  </app-resume-list>
</app-resume-experience>

<app-resume-experience
  startDate="February 2015"
  endDate="May 2019"
  position="Full-Stack Web Developer"
  company="Teachers-Teachers.com"
  location="Saint Louis, Missouri"
>
  <app-resume-list>
    <app-resume-list-item>Developed front end from photoshop documents provided by designers.</app-resume-list-item>
    <app-resume-list-item>Built new features from the ground up, including SQL tables and procedures, C# backend, services, and API handlers.</app-resume-list-item>
    <app-resume-list-item>Front-end work primarily in AngularJS 1.5.</app-resume-list-item>
    <app-resume-list-item>Maintained legacy ASP.Net WebForms code and systems.</app-resume-list-item>
    <app-resume-list-item>Handled deploying hotfixes and releases to production servers.</app-resume-list-item>
    <app-resume-list-item>Managed the data migration from the merger company to our database.</app-resume-list-item>
    <app-resume-list-item>Worked with QA to ensure quality in our product.</app-resume-list-item>
  </app-resume-list>
</app-resume-experience>

<app-resume-experience
  startDate="November 2013"
  endDate="February 2015"
  position="Applications Developer"
  company="Center for Disease Detection"
  location="San Antonio, Texas"
>
  <app-resume-list>
    <app-resume-list-item>Administration of current Linux web servers.</app-resume-list-item>
    <app-resume-list-item>Maintenance and development of an existing JAVA web application, running on Tomcat 6.0.</app-resume-list-item>
    <app-resume-list-item>Interfacing current application with new SQL Server databases in order to start merging new .NET architecture with the current system.</app-resume-list-item>
    <app-resume-list-item>Development of ASP.NET MVC Razor web application prototype as a proof of concept to potentially replace existing JAVA applications in the future.</app-resume-list-item>
    <app-resume-list-item>Maintenance and development of an existing .NET thick-client application, written in C#. Removed several bugs that were plaguing the system, leading to an extremely reduced number of support calls coming to the company from clients regarding the software.</app-resume-list-item>
    <app-resume-list-item>Query SQL data to create reports used by the Billing Department.</app-resume-list-item>
    <app-resume-list-item>Development of a new WPF enterprise application, using the MVVM design pattern, Telerik controls, Entity Framework, and LINQ to SQL.</app-resume-list-item>
  </app-resume-list>
</app-resume-experience>

<app-resume-experience
  startDate="June 2012"
  endDate="November 2013"
  position="Applications Developer"
  company="BioBridge Global"
  location="San Antonio, Texas"
>
  <app-resume-list>
    <app-resume-list-item>Developed ASP.NET MVC4 applications with AngularJS on the front-end, C# .NET WebAPI for server-side code, and SqlServer.</app-resume-list-item>
    <app-resume-list-item>Finished the final phase of an ASP.NET WebForms application used to track samples within the organization.</app-resume-list-item>
    <app-resume-list-item>Maintain existing ASP.NET and C# applications and services.</app-resume-list-item>
    <app-resume-list-item>Research of new HTML5, CSS3, and JavaScript technology for potential use in production enterprise applications (AngularJS).</app-resume-list-item>
  </app-resume-list>
</app-resume-experience>

<app-resume-experience
  startDate="September 2009"
  endDate="June 2012"
  position="Internal Systems Developer"
  company="BuildFax"
  location="Asheville, North Carolina"
>
  <app-resume-list>
    <app-resume-list-item>Starting as an analyst, I quickly was promoted to Internal Systems Developer. I worked primarily in Python and MySQL to implement middle-ware software for SugarCRM workflows, crucial reporting for various teams in the company, and detailed revenue forecasting. Near the end of my career at BuildFax, I worked in Python to help develop, enhance, and debug object-oriented data analyst tools.</app-resume-list-item>
    <app-resume-list-item>Built web application tools used by the Sales team, analysts, and data collection specialists.</app-resume-list-item>
    <app-resume-list-item>Administered a web-based CRM tool for over 30 users, including the creation of custom workflows in Python, and automatically generated forms for national and strategic sales representatives</app-resume-list-item>
    <app-resume-list-item>Defined functional requirements and technical specifications, creating charts in Dia, and wrote detailed documentation in Microsoft Word.</app-resume-list-item>
    <app-resume-list-item>Wrote python scripts to analyze employee performance and report statistics to management.</app-resume-list-item>
    <app-resume-list-item>Created PERL scripts to parse and extract vital data from large, unique PDFs that were collected by our data collection team.</app-resume-list-item>
  </app-resume-list>
</app-resume-experience>

<app-resume-section-heading>Volunteer Work</app-resume-section-heading>

<app-resume-experience
  startDate="April 2021"
  endDate="Present"
  position="President"
  company="Heritage Square Home Owner's Association Board of Directors"
  location="Decatur, Georgia"
>
</app-resume-experience>

<app-resume-section-heading>Open-Source Projects</app-resume-section-heading>

<app-resume-experience
  position="Customizer UI Plugin for WordPress"
>
  <a href="https://github.com/BaronVonPerko/wpcui" target="_blank">https://github.com/BaronVonPerko/wpcui</a>
  <p>A WordPress plugin that provides a user-interface for creating sections and fields for the WordPress customizer. The idea is to greatly speed up the development of these sections by a developer to be used with their theme or another plugin.</p>
</app-resume-experience>

<app-resume-section-heading>Skills</app-resume-section-heading>
<p>C#, ASP.NET, NET Web Api, AWS, Python, PHP, Laravel Framework, Javascript, Typescript, Angular (v13), CSS (SASS, Tailwind), HTML, Relational Databases, Version Control (git), Ionic, ZenHub, Scrum, Agile, Linux</p>

<app-resume-section-heading>Education</app-resume-section-heading>
<app-resume-experience
  startDate="2005"
  endDate="2009"
  position="Bachelor's Degree of Science in Computer Science"
  company="Appalachian State University"
  location="Boone, North Carolina">
</app-resume-experience>
