<h1 class="mb-4 text-center uppercase text-indigo-600">Chris Perko</h1>
<p class="text-sm text-slate-400 text-center">
  Decatur, Georgia | 828.776.9320 | chris@chrisperko.net | https://perko.dev | github.com/BaronVonPerko
</p>

<app-resume-section-heading>Professional Summary</app-resume-section-heading>
<p>
  Lead software engineer with 13 years experience building full-stack applications. Technical knowledge in
  C#, PHP, Angular, JavaScript, and AWS. Past experience includes mobile development utilizing Ionic with
  Angular, as well as team leadership in the healthcare and telecommunications industries.
</p>

<app-resume-section-heading>Professional Experience</app-resume-section-heading>
