<div class="">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:py-16 lg:px-8 lg:py-20">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Welcome to Perko.DEV!
      <br/>
      <span class="text-cyan-600">Built with Angular, Scully, & Tailwind</span>
    </h2>
  </div>
</div>


<div class="bg-cyan-700 text-slate-100">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8 lg:py-20">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-3xl leading-9 font-extrabold sm:text-4xl sm:leading-10">
        Software engineer in Atlanta
      </h2>
      <p class="mt-3 text-xl leading-7 text-cyan-200 sm:mt-4">
        Currently specializing in building amazing Angular apps!
      </p>
    </div>

    <div class="flex items-center justify-center mt-8">
      <div class="w-32 h-32 rounded-full bg-center bg-cover border-slate-100 border-4"
           style="background-image: url('/assets/images/2021_headshot.jpg')"></div>
      <p class="px-8 max-w-xs">
        Hey there, I'm Chris!  I'm a software engineer living in the Atlanta metropolitan area.
        When I'm not coding, I'm just a geek who loves travel, hiking, camping, trying new craft
        beer, watching movies, or playing with my crazy little beagle.
      </p>
    </div>
  </div>
</div>
