<h1>Customizer UI Plugin for WordPress Developers</h1>

<p class="mb-8">
    Introducing an all-in-one development plugin built to save you time when developing a highly 
    customizable WordPress theme!
</p>

<img class="max-w-3xl mx-auto" src="/assets/images/wpcui.png">

<p class="my-8">
    The plugin is currently <strong>pending</strong> in the WordPress Plugin Directory, but you can get 
    started today!  Check out the <a target="_blank" href="https://github.com/baronvonperko/wpcui">GitHub Repository</a>,
    which includes a link to download the latest build!
</p>