<div *ngIf="!projectTypeSelected">
    <h2 id="get-started"
        class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10 mb-8">
        Let's get started!
        <br />
        <span class="text-indigo-600">What kind of project are you wanting to build?</span>
    </h2>

    <app-project-type *ngFor="let choice of projectTypeChoices"
                      [choice]="choice"
                      (choiceSelected)="projectTypeSelected = $event">
    </app-project-type>
</div>

<div *ngIf="projectTypeSelected">
    <h2 id="get-started"
        class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10 mb-8">
        {{projectTypeSelected.title}}
        <br />
        <span class="text-indigo-600">Tell us more!</span>
    </h2>

    <a class="text-gray-500 underline text-sm cursor-pointer mb-4"
       (click)="projectTypeSelected = null">
        Select a different project type
    </a>

    <iframe class="mx-auto"
            [src]="safeFormUrl"
            width="640"
            height="600"
            frameborder="0"
            marginheight="0"
            marginwidth="0">Loading…</iframe>
</div>
